* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(154, 189, 232);
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
/** HEADER **/
header {
    height: auto;
    width: 100%;
}

.nav-bar {
    background-color: #015485;
    color: white;
    overflow: hidden;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link {
    display: block;
    padding: 14px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

/* Style for mobile menu (hidden by default) */
.nav-toggle {
    display: none;
}

h1 {
    color: darkgreen;
    text-align: center;
    /* padding-top: 2rem; */
}

#description {
    text-align: center;
}

/** MAIN **/
main {
    flex: auto;
    padding-top: 20px;
}

article {
    margin-left: 7px;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-size: larger;
    width: 360px;
    text-align: left;
    margin-left: 5px;
}

input {
    text-align: right;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.06);
    font-size: larger;
    width: 375px;
    /* Firefox */
    -moz-appearance: textfield;
}

input:hover {
    box-shadow: 0;
}

input::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: right;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: right;
}
input::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.06);
    font-size: larger;
    width: 360px;
    /* Firefox, Chrome, Opera */
    text-align: right;
}

select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px;
}
select::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
}
select:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
}
select:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
}

#next-btn {
    background-color: #015485;
    color: aliceblue;
    font-size: larger;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

#submit-btn {
    background-color: #015485;
    color: aliceblue;
    font-size: larger;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

#reset-btn {
    margin: 3px 0;
    background-color: #c55155;
    color: aliceblue;
    font-size: larger;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

#output-container {
    text-align: center;
    font-size: larger;
}

#output {
    font-size: larger;
    margin: 10px;
    width: 300px;
    height: fit-content;
    display: inline-block;
    color: rgb(197, 81, 85);
}

table {
    margin: 5px;
    border-top: 1px solid #003b5c;
    border-right: none;
    border-bottom: 1px solid #003b5c;
    border-left: 1px solid #003b5c;
}
th {
    border-top: none;
    border-right: 1px solid #003b5c;
    border-bottom: none;
    border-left: none;
}
td {
    border-top: 1px solid #003b5c;
    border-right: 1px solid #003b5c;
    border-bottom: none;
    border-left: none;
}

ul {
    list-style-position: inside;
}

.ul-1 {
    list-style-type: square;
}

.ul-2 {
    list-style-type: disc;
}

.li-1 {
    margin: 3px;
}

.li-2 {
    margin: 8px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 120px;
}

#footer {
    margin-bottom: 5px;
}

a {
    color: black;
}

/* MEDIA QUERIES */
@media screen and (max-width: 665px) {
    /* HEADER */
    .nav-bar {
        background-color: #015485;
    }
    .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: start;
        display: none;
    }
    ul {
        margin: 0.75em 0;
        padding: 0 1em;
        list-style: none;
    }
    ul li::before {
        content: "▶";
        display: block;
        left: 5px;
        height: 0;
        width: 0;
        top: 0.9em;
        position: relative;
    }
    .nav-link {
        padding: 14px 20px;
        text-align: center;
        width: 100%;
        margin-left: 5px;
    }
    .nav-toggle {
        display: flex;
        flex-direction: column;
    }
    #menu-icon {
        height: 30px;
        width: 30px;
        margin-left: 5px;
    }

    /* MAIN */
}
